.teambox {
  position: fixed;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.75s;
  gap: 5px;
  &.CT {
    .hp_bar {
      background-color: var(--color-new-ct);
    }
    .player-stats svg {
      fill: var(--color-new-ct);
    }
  }
  &.T {
    .hp_bar {
      background-color: var(--color-new-t);
    }
    .player-stats svg {
      fill: var(--color-new-t);
    }
  }
  &.hide {
    opacity: 0;
  }
  &.left {
    left: 0px;

    .player_wrapper {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
      overflow: hidden;
      .player {
      }
      .hp_bar {
        //background-color: var(--color-new-ct);
      }
      .round_damage {
        padding-left: 10px;
        box-sizing: border-box;
      }
    }
    .player {
      border-left: none;
      border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
      .player_data {
        border-radius: 0 var(--border-radius) var(--border-radius)
          var(--border-radius);
        .obs_slot {
          left: -10px;
        }
        .top_row {
          .defuser_bomb {
            left: 4px;
          }
          .roundkills {
            right: 4px;
          }
        }
        .bottom_row {
          border-bottom-left-radius: 0;
          .weapon_utility {
            justify-content: end;
          }
          .health_armor {
            padding-left: 8px;
          }
        }
      }
    }
  }
  .weapon.zeus {
    height: 30px;
    position: absolute;
    &.left {
      left: 170px;
    }
    &.right {
      right: 170px;
    }
  }
  &.right {
    align-items: end;
    right: 0px;

    .round_damage {
      text-align: end;
      padding-right: 10px;
      box-sizing: border-box;
    }

    .player_wrapper {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      overflow: hidden;
      &.active {
        position: relative;

        &::after {
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          background: linear-gradient(
            90deg,
            rgba(34, 63, 97, 1) 0%,
            rgba(34, 63, 97, 0) 100%
          );
          z-index: 1;
        }
      }
      .player {
        flex-direction: row-reverse;
        border-right: none;
        border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
        .player_data {
          .player_name {
            text-align: end;
          }

          .player_money {
            text-align: end;
          }
          .player_stats {
            justify-content: end;
          }
        }

        .player_weapons {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: space-between;

          height: 100%;
          width: 100%;
          .secondary_weapon {
            padding-left: 10px;
          }
          .weapon {
            transform: scaleX(-1);
          }
          .grenades {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            gap: 5px;
            justify-content: end;
            .defuser_bomb {
              width: 18px;
              height: 18px;

              .defuse_indicator {
                width: 18px;
                height: 18px;
                > svg {
                  fill: white;
                  width: 18px;
                  height: 18px;
                }
              }
              .bomb_indicator {
                width: 18px;
                height: 18px;
                > svg {
                  fill: white;
                  width: 18px;
                  height: 18px;
                }
              }
            }

            > svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        .weapon_utility {
          flex-direction: row-reverse;
          .roundkills-container {
            left: 115px;
          }
        }
      }
    }
  }

  .player_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 380px;
    background-color: var(--sub-panel-color);
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 320px;

    &.active {
      position: relative;

      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          270deg,
          rgba(34, 63, 97, 1) 0%,
          rgba(34, 63, 97, 0) 100%
        );
        z-index: 1;
      }
    }

    .hp_bar {
      min-height: 5px;
      height: 5px;
      // background-color: red;
      z-index: 2;
    }

    .round_damage {
      font-size: 14px;
      color: #fff;
      font-weight: bold;
      opacity: 0.7;
    }

    .player {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: var(--border-radius);
      border: 2px solid transparent;
      transition: width 0.5s;
      height: 70px;
      padding: 5px;
      box-sizing: border-box;
      width: 100%;
      gap: 10px;

      .avatar {
        z-index: 3;
      }

      .player_data {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
        justify-content: space-between;
        z-index: 3;

        .player_name {
          font-weight: bold;
          font-size: 18px;
          color: white;
        }

        .player_money {
          font-weight: bold;
          color: var(--color-moneys);
          font-size: 14px;
          font-weight: 600;
        }

        .player_stats {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .roundkills {
            color: var(--color-moneys);
            font-weight: bold;
            font-size: 14px;
          }

          .player-kills,
          .player-deaths {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 14px;
            font-weight: bold;
            color: white;
            svg {
              width: 14px;
              height: 14px;
              fill: white;
            }
          }
        }

        /*
        .obs_slot {
          position: absolute;
          display: none !important;
          display: flex;
          width: 20px;
          height: 20px;
          border-radius: var(--border-radius);
          color: white;
          font-weight: 700;
          bottom: 45%;
          justify-content: center;
          align-items: center;
        }

        .top_row {
          display: flex;
          position: relative;
          justify-content: space-evenly;
          width: 100%;
          height: 65%;
          .avatar {
            flex: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            img {
              width: 65px;
              height: 65px;
            }
          }
          .username_money {
            display: flex;
            gap: 2px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            .username {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-weight: 600;
              font-size: 18px;
            }
            .money {
              color: var(--primary-light);
              font-weight: 700;
              font-size: 13px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .defuser_bomb {
            position: absolute;
            top: 0;
            svg {
              width: 20px;
              height: 20px;
            }
            .bomb_indicator {
              fill: rgb(253, 94, 115);
            }
            .defuse_indicator {
              fill: var(--color-new-ct);
            }
          }
          .player-stats {
            flex: 1;
            display: flex;
            font-weight: 600;
            font-size: 14px;
            color: white;
            align-items: center;
            .statistics {
              margin-top: 10px;
              display: flex;
              gap: 8px;
              flex: 1;
              justify-content: center;
              align-items: end;
              .player-kills,
              .player-deaths {
                display: flex;
                align-items: center;
                gap: 4px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
              .roundkills {
                position: absolute;
                top: 3px;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background-color: white;
                display: flex;
                justify-content: center;
                color: black;
                align-items: center;
              }
            }
          }
        }

        .bottom_row {
          display: flex;
          position: relative;
          width: 100%;
          height: 35%;
          border-bottom-right-radius: var(--border-radius);
          border-bottom-left-radius: var(--border-radius);
          overflow: hidden;
          .round_damage {
            width: 100%;
            height: 100%;
            display: none;
            color: #b2b2b2;
            font-size: 14px;
            font-weight: 700;
            justify-content: center;
          }
          .hp_bar {
            position: absolute;
            height: 100%;
            transition: width 0.75s;
          }
          .hp_redbar {
            position: absolute;
            height: 100%;
            background-color: rgb(172, 47, 47);
            transition: width 2s 0.75s;
          }
          .health_armor {
            width: 25%;
            height: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            gap: 2px;
            .health {
              display: flex;
              color: white;
              font-weight: 700;
              font-size: 18px;
              justify-content: center;
              align-items: center;
            }
            .armor_indicator {
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                width: 20px;
                height: 20px;
                fill: white;
              }
            }
          }
          .weapon_utility {
            z-index: 1;
            width: 75%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            .grenades {
              display: flex;
              align-items: center;
              justify-content: space-around;
              svg.grenade {
                width: 20px;
                height: 20px;
              }
            }
            svg.weapon {
              max-height: 30px;
              width: auto;
              margin-left: 5px;
              margin-right: 5px;
              max-width: 100px;
              height: 30px;
            }
            .secondary_weapon {
              display: flex;
              align-items: center;
              svg {
                max-height: 30px;
                height: 30px;
              }
            }
          }
        }
*/
      }

      .player_hp {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: end;

        flex: 1;
        height: 100%;
        width: 100%;
        z-index: 3;

        .armor_indicator {
          width: 18px;
          height: 18px;

          > svg {
            fill: white;
            width: 18px;
            height: 18px;
          }
        }

        &_group {
          display: flex;
          flex-direction: row;
          gap: 2px;
          align-items: center;
          justify-content: center;

          .health_icon {
            width: 18px;
            height: 18px;
          }
          .health {
            font-size: 14px;
            font-weight: bold;
            color: #a21010;
          }
        }
      }

      .player_weapons {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        height: 100%;
        width: 100%;
        z-index: 3;

        .grenades {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: end;
          .defuser_bomb {
            width: 18px;
            height: 18px;

            .defuse_indicator {
              width: 18px;
              height: 18px;
              > svg {
                fill: white;
                width: 18px;
                height: 18px;
              }
            }
            .bomb_indicator {
              width: 18px;
              height: 18px;
              > svg {
                fill: white;
                width: 18px;
                height: 18px;
              }
            }
          }

          > svg {
            width: 18px;
            height: 18px;
          }
        }
      }
      &.dead {
        opacity: 0.7;

        .avatar {
          filter: saturate(0);
        }

        .player_data {
          .top_row {
            height: 100%;
            .username_money {
              .username,
              .money {
                color: #b2b2b2;
              }
            }
            .statistics {
              margin-top: 0px;
              .roundkills {
                background-color: #b2b2b2;
              }
            }
          }

          .bottom_row {
            .round_damage {
              display: flex;
            }
            .weapon_utility,
            .health_armor {
              display: none;
            }
          }

          .obs_slot {
            display: none;
          }
          .hp_bar,
          .hp_redbar {
            transition: width 0s;
          }
          .avatar {
            display: none;
          }
          .player-stats {
            color: #b2b2b2;
            svg {
              fill: #b2b2b2;
            }
          }
        }
      }
    }
  }
}

.players_alive {
  display: flex;
  flex-direction: column;
  width: 200px;
  //background-color: var(--sub-panel-color);
  background: var(--sub-panel-gradient);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  position: fixed;
  right: 0px;
  top: 10px;
  opacity: 1;
  transition: width 0.5s;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  gap: 5px;
  /*
  border: 1px solid var(--gold);
  border-right: none;
*/
  /**
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: var(--border-gold-reverse);
  */
  .players_divider {
    background: var(--divider-gold);
    height: 1px;
    width: 100%;
  }
  .counter_container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 700;
      color: white;
    }
    .CT {
      color: var(--color-new-ct);
    }
    .T {
      color: var(--color-new-t);
    }
  }
  .title_container {
    color: white;
    text-transform: uppercase;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.hide {
    opacity: 0;
  }
}
